@tailwind base;
@tailwind components;
@tailwind utilities;

nav > * {
  font-size: 20px;
  padding: 20px;
  display: flex;
  text-decoration: none;
  justify-content: space-evenly;
  background-color: lightblue;
}
